$prefixCls:'parrot';
   
.#{$prefixCls}-backdrop{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    z-index:1000;

    &-center{
        align-items: center;
        justify-content: center;
    }

    &-grey{ 
        background-color: rgba(0, 0, 0, 0.5);
    }
}